@use "variables";
@use "mixins";

.contacts {
  background-color: variables.$color-blue;
  padding-top: 30px;
  padding-bottom: 30px;

  @include mixins.respond(xl) {
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts-title {
  font-size: 28px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

.contacts-icons {
  gap: 18px;
  margin-bottom: 10px;
  margin-top: 10px;

  @include mixins.respond(xl) {
    margin-bottom: 20px;
  }
}

.contacts-icon {
  color: variables.$color-yellow;
}

.contacts-icon-white {
  gap: 25px;
  margin-bottom: 20px;
}

.map {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  height: 200px;
  margin-bottom: 30px;
  display: block;
}
