@use "variables";
@use "mixins";

.events {
  margin-bottom: 80px;
  position: relative;
  background: variables.$color-white;
  overflow: visible;

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      content: "";
      position: absolute;
      border-radius: 50%;
      filter: blur(200px);
      opacity: 1;
      z-index: 0;
    }
  }

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      width: 355px;
      height: 355px;
      background: #ffe711;
      top: 300px;
      left: -109px;
    }
  }

  @include mixins.respond(xl) {
    margin-bottom: 100px;
  }
}

.events-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;

  @include mixins.respond(xl) {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
  }
}

.events-list {
  font-size: 20px;

  @include mixins.respond(xl) {
    gap: 20px;
  }
}

.events-icon-marker {
  color: variables.$color-blue;
}
