@use "variables";
@use "mixins";

.events {
  margin-bottom: 80px;

  @include mixins.respond(xl) {
    margin-bottom: 100px;
  }
}

.events-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;

  @include mixins.respond(xl) {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
  }
}

.events-list {
  font-size: 20px;

  @include mixins.respond(xl) {
    gap: 20px;
  }
}

.events-icon-marker {
  color: variables.$color-blue;
}
