@use "variables";
@use "mixins";

header {
  z-index: 10;
}

.header-info {
  border-bottom: variables.$color-black 1px solid;
  padding-bottom: 12px;
}

.logo-group {
  gap: 60px;
}

.logo-social {
  gap: 18px;
}

.contacts-language {
  gap: 40px;
}

.logo-contacts {
  gap: 35px;
  font-size: 18px;
}

.logo-item:hover {
  color: variables.$color-blue;
}

.sprite-icon {
  color: variables.$color-black;
}

a:hover .sprite-icon {
  color: variables.$color-blue;
}

.sprite-icon:hover {
  color: variables.$color-blue;
}

.navbar {
  font-size: 20px;

  &-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }

    &-icon {
      background-image: none;
      width: 24px;
      height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: variables.$color-black;
      }
    }
  }
}

.nav__link {
  color: variables.$color-black;
  transition: 0.2s ease;

  &:hover {
    color: variables.$color-blue;
  }
}

.dropdown-menu {
  border: none;
  border-radius: 0%;
}

.dropdown-item:hover {
  color: variables.$color-blue;
  background-color: transparent;
}

.dropdown-toggle {
  border: none;
  background-color: transparent;
  position: relative;
  padding-right: 32px;
  transition: all 0.2s;

  &:hover {
    color: variables.$color-blue;
  }

  &::after {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8 10.2L12.3 17.7L19.8 10.2' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat center;
    transition:
      transform 0.2s ease,
      background 0.2s ease;
  }

  &:hover::before {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8 10.2L12.3 17.7L19.8 10.2' stroke='%230d6efd' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat center;
  }

  &.show::before {
    transform: translateY(-50%) rotate(180deg);
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8 10.2L12.3 17.7L19.8 10.2' stroke='%230d6efd' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat center;
  }
}

.header-title {
  font-size: 38px;

  @include mixins.respond(xl) {
    font-size: 65px;
  }
}

.header-desc {
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;

  @include mixins.respond(xl) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.header-text {
  font-size: 16px;
  @include mixins.respond(xl) {
    font-size: 20px;
  }
}

.header-button {
  gap: 10px;
  max-width: 460px;
  width: 100%;

  &-call {
    @include mixins.button(variables.$color-blue, variables.$color-white);
    height: 53px;
    padding: 15px 68px;

    &:hover {
      background-color: variables.$color-blue-hover;
    }

    @include mixins.respond(xl) {
      height: 58px;
    }
  }

  &-support {
    @include mixins.button(variables.$color-yellow, variables.$color-black);
    height: 53px;
    padding: 15px 68px;

    &:hover {
      background-color: variables.$color-yellow-hover;
    }

    @include mixins.respond(xl) {
      height: 58px;
    }
  }
}

#mainNav {
  z-index: 3000;
}
