@use "variables";
@use "mixins";

.news-title {
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.news-cards {
  gap: 20px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    margin-bottom: 60px;
  }
}

.card-img {
  border-radius: 30px;
  width: 100%;
  max-width: 220px;
  height: auto;
  max-height: 200px;
  object-position: top center;
}

.card-title {
  @include mixins.respond(xl) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.card-sub {
  font-size: 12px;
  margin-bottom: 10px;
}

.card-desc {
  margin-bottom: 10px;

  @include mixins.respond(xl) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.card-link {
  font-size: 12px;
}

.news-button {
  @include mixins.button(transparent, variables.$color-black);
  border: 1px solid variables.$color-black;
  height: 53px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 80px;

  &:hover {
    border: 1px solid variables.$color-blue;
    color: variables.$color-blue;
  }

  @include mixins.respond(xl) {
    font-size: 18px;
    height: 47px;
    width: 275px;
    margin-bottom: 100px;
  }
}
