@use "variables";
@use "mixins";

.numbers {
  margin-top: 80px;
  margin-bottom: 30px;
  position: relative;
  background: variables.$color-white;
  overflow: visible;

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      content: "";
      position: absolute;
      border-radius: 50%;
      filter: blur(200px);
      opacity: 1;
      z-index: 1;
    }
  }

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      width: 355px;
      height: 355px;
      background: #ffe711;
      top: 300px;
      left: -109px;
    }
  }
}

.numbers-title {
  margin-bottom: 30px;
  font-size: 28px;
}

.numbers-desc {
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 18px;
  }
}

.numbers-desc-bold {
  margin-bottom: 30px;

  @include mixins.respond(xl) {
    font-size: 30px;
  }
}

.numbers-cards-title {
  font-size: 28px;
}
