@use "variables";
@use "mixins";

.projects-title {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 28px;

  @include mixins.respond(xl) {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 42px;
  }
}

.projects-card {
  width: 100%;
  max-width: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;

  @include mixins.respond(xl) {
    max-width: 345px;
  }
}

.projects-yellow {
  background-color: variables.$color-yellow;
  width: 100%;
  max-width: 220px;
  height: 130px;

  @include mixins.respond(xl) {
    max-width: 345px;
    height: 200px;
  }
}

.projects-blue {
  background-color: variables.$color-blue;
  width: 100%;
  max-width: 220px;
  height: 130px;

  @include mixins.respond(xl) {
    max-width: 345px;
    height: 200px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: start;
  justify-content: center;

  @include mixins.respond(xl) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
  }
}

.projects-card-school {
  grid-area: 1 / 1 / 3 / 2;
  max-height: 200px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 1 / 1 / 3 / 2;
    max-height: 300px;
  }
}

.projects-yellow {
  grid-area: 1 / 2 / 2 / 3;

  @include mixins.respond(xl) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.projects-card-square {
  grid-area: 3 / 1 / 4 / 2;
  max-height: 130px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 3 / 1 / 4 / 2;
    max-height: 200px;
  }
}

.projects-card-library {
  grid-area: 2 / 2 / 4 / 3;
  max-height: 200px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 2 / 2 / 4 / 3;
    max-height: 300px;
  }
}

.projects-card-culture {
  grid-area: 4 / 1 / 5 / 2;
  max-height: 200px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 1 / 3 / 3 / 4;
    max-height: 300px;
  }
}

.projects-blue {
  grid-area: 5 / 1 / 6 / 2;

  @include mixins.respond(xl) {
    grid-area: 3 / 3 / 4 / 4;
  }
}

.projects-card-childrens {
  grid-area: 4 / 2 / 6 / 3;
  max-height: 350px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 1 / 4 / 4 / 5;
    max-height: 520px;
  }
}
