@use "variables";
@use "mixins";

.projects-title {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 28px;

  @include mixins.respond(xl) {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 42px;
  }
}

.projects-card {
  width: 220px;
  @include mixins.respond(xl) {
    width: 345px;
  }
}

.projects-yellow {
  background-color: variables.$color-yellow;
  width: 220px;
  height: 130px;

  @include mixins.respond(xl) {
    width: 345px;
    height: 168px;
  }
}

.projects-blue {
  background-color: variables.$color-blue;
  width: 220px;
  height: 130px;

  @include mixins.respond(xl) {
    width: 345px;
    height: 168px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: start;

  @include mixins.respond(xl) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
  }
}

.projects-card-school {
  grid-area: 1 / 1 / 3 / 3;

  @include mixins.respond(xl) {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
  }
}
.projects-yellow {
  grid-area: 1 / 3 / 2 / 5;

  @include mixins.respond(xl) {
    grid-area: 3 / 1 / 4 / 2;
    height: 100%;
  }
}
.projects-card-square {
  grid-area: 3 / 1 / 4 / 3;

  @include mixins.respond(xl) {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
  }
}
.projects-card-library {
  grid-area: 2 / 3 / 4 / 5;

  @include mixins.respond(xl) {
    grid-area: 2 / 2 / 4 / 3;
    height: 100%;
  }
}
.projects-card-culture {
  grid-area: 4 / 1 / 6 / 3;

  @include mixins.respond(xl) {
    grid-area: 1 / 3 / 3 / 4;
    height: 100%;
  }
}
.projects-blue {
  grid-area: 6 / 1 / 7 / 3;

  @include mixins.respond(xl) {
    grid-area: 3 / 3 / 4 / 4;
    height: 100%;
  }
}
.projects-card-children {
  grid-area: 4 / 3 / 7 / 5;

  @include mixins.respond(xl) {
    grid-area: 1 / 4 / 4 / 5;
    height: 100%;
  }
}

// .projects-image-wrapper {
//   height: 100%;
// }

// .projects-card {
//   height: 100%;
// }
