@use "variables";
@use "mixins";

.team {
  margin-bottom: 80px;

  @include mixins.respond(xl) {
    margin-bottom: 100px;
  }
}

.team-title {
  font-size: 28px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

.team-img {
  border-radius: 30px;
  height: auto;
  width: 100%;
  max-width: 220px;
}

.team-subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
  @include mixins.respond(xl) {
    font-size: 20px;
    margin-top: 20px;
  }
}

.team-desc {
  @include mixins.respond(xl) {
    font-size: 18px;
  }
}
