@use "variables";
@use "mixins";

.button-support {
  @include mixins.button(variables.$color-yellow, variables.$color-black);
  height: 53px;
  width: 220px;
}

.button-reports {
  @include mixins.button(transparent, variables.$color-black);
  border: 1px solid variables.$color-black;
  height: 53px;
  width: 220px;

  &:hover {
    border: 1px solid variables.$color-blue;
    color: variables.$color-blue;
  }
}

.video {
  padding-left: 0;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  min-height: 315px;
  border: 0;
  display: block;
}
